.conteudo__features{
    margin-bottom: 340px;
}
.conteudo .conteudo__features {

    text-align: center;
    margin-top: 100px;
}

.conteudo .conteudo__features .features__tittle {

    font-size: 48px;
    color: #252B42;
    margin-bottom: 27px;

}

.conteudo .conteudo__features .features__description {
    font-size: 28px;
    color: #374754;
    max-width: 100%;
    width: 523px;
    margin: 0 auto;
    margin-bottom: 90px;

}

.conteudo .conteudo__features .features__cards{
    
    display: flex;
    margin-bottom: 132px;
    width: 869px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 132px;
    
}

.conteudo .conteudo__features .features__video {
    position: relative;
    width: 560px; /* Largura do vídeo */
    height: 315px; /* Altura do vídeo */
    overflow: hidden;
    border-radius: 20px; /* Adicione um raio de borda para arredondar as bordas */
    
  }
  
  .conteudo .conteudo__features .features__video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; /* Remova qualquer borda padrão do iframe */
  }

  /* newsletter*/


  .newsletter{
    margin-top: 100px;
    margin-bottom: 182px;
  }
  .newsletter .newsletter__firts-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    margin: auto;
    max-width: 100%;
    
  }
  .newsletter .newsletter__firts-box .first-box__left{

    text-align: left;
    
  }


  .newsletter .newsletter__firts-box .first-box__left__title{

    font-size: 48px;
    color: #252B42;
    margin-bottom: 20px;

  }

  .newsletter .newsletter__firts-box .first-box__left__description{

    font-size: 28px;
    color: #252B42;
    margin-bottom: 70px ;
  }

  .newsletter .newsletter__firts-box .first-box__left__button{

    background-color: #2091f9;
    padding: 16px;
    color: #ffffff;
    text-decoration: none;
    width: 236px;
    font-size: 20px;
    display: inline-block;
    border-radius: 200px;
    text-align: center;

}