.conteudo .conteudo__features {

  text-align: center;
  margin-top: 100px;
}

.conteudo .conteudo__features .features__tittle {

  font-size: 48px;
  color: #252B42;
  margin-bottom: 27px;

}

.conteudo .conteudo__features .features__description {
  font-size: 28px;
  color: #374754;
  max-width: 100%;
  width: 523px;
  margin: 0 auto;
  margin-bottom: 90px;

}

.conteudo .conteudo__features .features__cards {

  display: flex;
  margin-bottom: 132px;
  width: 869px;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 132px;

}

.conteudo .conteudo__features .features__video {
  position: relative;
  width: 560px;
  /* Largura do vídeo */
  height: 315px;
  /* Altura do vídeo */
  overflow: hidden;
  border-radius: 20px;
  /* Adicione um raio de borda para arredondar as bordas */

}

.conteudo .conteudo__features .features__video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  /* Remova qualquer borda padrão do iframe */
}

/* newsletter*/


.newsletter {
  margin-top: 100px;
}

.newsletter .newsletter__firts-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  margin: auto;
  max-width: 100%;

}

.newsletter .newsletter__firts-box .first-box__left {

  text-align: left;

}


.newsletter .newsletter__firts-box .first-box__left__title {

  font-size: 48px;
  color: #252B42;
  margin-bottom: 20px;

}

.newsletter .newsletter__firts-box .first-box__left__description {

  font-size: 28px;
  color: #252B42;
  margin-bottom: 70px;
}

.newsletter .newsletter__firts-box .first-box__left__button {

  background-color: #2091f9;
  padding: 16px;
  color: #ffffff;
  text-decoration: none;
  width: 236px;
  font-size: 20px;
  display: inline-block;
  border-radius: 200px;
  text-align: center;
}


.newsletter__second-box {

  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
  width: 1200px;
  margin: auto;
  max-width: 100%;
  margin-top: 100px;

}

.newsletter__second-box .second-box__rigth {

  text-align: left;
  margin-left: 115px;

}

.newsletter__second-box .second-box__rigth .rigth__subtitle {
  color: #252B42;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.1px;
}

.newsletter__second-box .second-box__rigth .rigth__title {
  color: #252B42;
  font-size: 48px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.2px;
  display: block;
  margin-top: 17px;
}

.newsletter__second-box .second-box__rigth .rigth__description {
  color: #252B42;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.1px;
  margin-top: 35px;
  display: block;
}

.newsletter__second-box .second-box__rigth .rigth__label {
  color: #252B42;
  font-size: 18px;
  font-weight: 100;
  line-height: 28px;
  letter-spacing: 0.1px;

}

.newsletter__second-box .second-box__rigth .second-box__formulario {
  display: flex;
  margin-top: 55px;

}

.newsletter__second-box .second-box__rigth .formulario__email {
  height: 54px;
  margin-right: 12px;
  width: 273px;
  max-width: 100%;
  border: solid 1px;
  border-radius: 39px;
  background-color: #f4f4f4;
  padding-left: 39px;
  color: #18171d;
  outline: none;
}

.newsletter__second-box .second-box__rigth .formulario__button {
  width: 172px;
  max-width: 100%;
  border-radius: 35px;
  background-color: #2091f9;
  font-size: 20px;
  color: #ffffff;
  cursor: pointer;
}

.newsletter__second-box .second-box__left {

  display: flex;
  width: 855px;
  flex-direction: row;
  align-items: center;
  height: 638px;
  justify-content: space-between;

}

.newsletter__second-box .second-box__left img {
  width: 677px;
  height: 514px;
  align-items: flex-end;
}





.partnes {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.partnes .partnes__title {

  color: #252B42;
  font-size: 48px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.2px;
  display: block;
  margin-top: 17px;
}

.partnes .partnes__subtitle {

  color: #374754;
  text-align: center;
  font-size: 28px;
  letter-spacing: 0.1px;



}

.partnes .partnes__icons {
  width: 70%;
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;

}

.partnes__icons .icons__icon {

  padding: 40px;
  border: 1px solid #d8d8d8;
  width: 25%;
  max-width: 100%;
  
}

.partnes__icons .icons__icon .icon__p {

  color: #374754;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.1px;

}

.partnes .partnes__button{

  display: flex;
  flex-direction: row;
  background-color: #2091f9;
  padding: 16px;
  color: #ffffff;
  text-decoration: none;
  width: 236px;
  font-size: 20px;
  display: inline-block;
  border-radius: 200px;
  text-align: center;
  margin: auto;
  margin-top: 100px;

}