@media only screen and (max-width: 800px) {


    /* NAV */
    .menu {
        width: 418px;
        height: 112px;
        max-width: 100%;
        display: flex;
        padding: 17px 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 47px;
        align-self: stretch;

        /*  teste de vazamento*/
        background-color: black;
    }

    .menu .menu__group {
        width: 418px;
        height: 112px;
        max-width: 100%;
        padding: 17px;
        display: flex;

    }

    .menu .menu__group .group__links {
        display: none;
    }

    .menu .menu__group #group__menu {

        width: 40px;
        height: 32px;
        max-width: 100%;
        color: #ffffff;
        align-items: end;
        cursor: pointer;
        font-size: 40px;
        display: flex;
        align-items: right;
        margin-right: 15px;
    }

    .menu .menu__group .group__logo {

        width: 206px;
        height: 78px;
        max-width: 100%;
        padding: 10px;
        display: flex;
        align-items: flex-start;
    }

    .menu .group__links {

        display: none;

    }

    .menu .menu__social-media img {
        display: none;
    }


    .menu .menu__social-media {
        display: none;
    }


    /* header */
    .cabecalho {

        /*  teste de vazamento*/
        background-color: black;
    }

    .cabecalho .cabecalho__banner .banner__img {

        width: 418%;
        height: 750px;
        max-width: 100%;

    }


    .cabecalho .cabecalho__group .group__title {
        width: 353px;
        height: 185px;
        max-width: 100%;
        margin-top: 50;
        padding: 10px;



        color: #FFF;
        text-align: center;
        font-size: 48px;
        font-weight: 400;
        letter-spacing: 0.2px;
    }

    .cabecalho .cabecalho__group .group__subtitle {
        width: 265px;
        height: 80px;
        max-width: 100%;
        margin-top: 7;
        padding: 10px;

        color: #FFF;

        font-size: 28px;
        font-weight: 400;
        letter-spacing: 0.2px;
        margin: 0 auto;

    }

    .cabecalho .cabecalho__group .group__button {


        background-color: #2091f9;
        padding: 16px;
        color: #ffffff;
        text-decoration: none;
        width: 236px;
        font-size: 20px;
        display: inline-block;
        border-radius: 200px;
        text-align: center;
        margin-top: 59px;
    }


    /* main*/
    .main {
        display: flex;

        justify-content: center;
    }

    .conteudo {
        margin: 0 auto;
        /*  teste de vazamento*/
        background-color: black;
    }

    .conteudo .conteudo__features {
        width: 418px;
        height: 1595px;
        max-width: 100%;
        display: flex;
        padding: 80px 0px;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        align-self: stretch;
    }

    .conteudo .conteudo__features .features__tittle {
        width: 194px;
        height: 55px;
        max-width: 100%;

        color: #252B42;
        text-align: center;
        font-size: 48px;
        font-weight: 400;
        letter-spacing: 0.2px;
        display: flex;
        padding: 10px;
        align-items: center;
        gap: 10px;
        margin-bottom: 7px;
    }

    .conteudo .conteudo__features .features__description {
        display: none;

    }

    .conteudo .conteudo__features .features__description__responsividade {



        width: 285px;
        height: 100px;
        max-width: 100%;

        display: flex;
        padding: 10px;
        align-items: center;
        gap: 10px;

        color: #374754;
        text-align: center;
        font-size: 28px;
        font-weight: 400;
        letter-spacing: 0.2px;
        margin-bottom: 50px;
    }

    .conteudo .conteudo__features .features__video__responsividade {
        width: 385px;
        max-width: 100%;
        height: 215px;
        flex-shrink: 0;
        position: relative;
        overflow: hidden;
        border-radius: 14.688px;
        /* Adicione um raio de borda para arredondar as bordas */
        display: block;
        margin-bottom: 50px;
        margin: auto;
    }

    .conteudo .conteudo__features .features__video__responsividade iframe {

        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 385px;
        height: 215px;
        border: 0;
        /* Remova qualquer borda padrão do iframe */
    }

    .conteudo .conteudo__features .features__video {
        display: none;
    }

    .conteudo .conteudo__features .features__video iframe {

        display: none;
    }

    .conteudo .conteudo__features .features__cards {


        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        background-color: #ffffff;

    }

    .conteudo .conteudo__features .features__cards .cards__card {

        width: 255px;
        height: 257px;
        max-width: 100%;
        margin: 0 auto;


    }

    .conteudo .conteudo__features .features__cards .card__descripiton {

        width: 231px;
        max-width: 100%;
        height: 100px;
        margin-top: 20px;
        color: #374754;
        font-weight: 400;
        line-height: 25px;
        /* 138.889% */
        letter-spacing: 0.2px;

        padding: 10px;

    }

    .newsletter {
        width: 418px;
        max-width: 100%;
    
        display: flex;
        flex-direction: column;
        margin-top: 0px;


        background-color: green;
    }

    .newsletter .newsletter__firts-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-bottom: 50px;


    }

    .newsletter .newsletter__firts-box .first-box__left__title {

        font-size: 48px;
        color: #252B42;
        margin-bottom: 20px;
        text-align: center;

    }

    .newsletter .newsletter__firts-box .first-box__left__description {

        display: none;
    }

    .newsletter .newsletter__firts-box .first-box__left__description_responsividade {

        width: 265px;
        height: 80ppx;
        max-width: 100%;
        margin: 0 auto;
        display: block;
        text-align: center;
        font-size: 28px;
        color: #252B42;
        margin-bottom: 70px;
    }

    .newsletter .newsletter__firts-box .first-box__left__button {

        padding: 16px;
        color: #ffffff;
        text-decoration: none;
        width: 236px;
        font-size: 20px;
        display: inline-block;
        border-radius: 200px;
        text-align: center;
        margin-bottom: 59px;


    }

    .newsletter .newsletter__firts-box .first-box__right .box-right__img {
        width: 378px;
        height: 211px;
        max-width: 100%;


    }

    .newsletter .newsletter__second-box {
        display: flex;
        flex-direction: column;



        background-color: aqua;
    }

    .newsletter__second-box .second-box__left .left__img {

        width: 389px;
        height: 285px;
        max-width: 100%;

        margin-bottom: 50px;

    }

    .newsletter__second-box .second-box__rigth {

        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-bottom: 80px;


    }

    .newsletter__second-box .second-box__rigth .rigth__subtitle {
        display: none;

    }

    .newsletter__second-box .second-box__rigth .rigth__title {

        display: none;

    }

    .newsletter__second-box .second-box__rigth .rigth__description {

        display: none;

    }

    .newsletter__second-box .second-box__rigth .rigth__label {

        color: #252B42;
        font-size: 18px;
        font-weight: 100;
        line-height: 28px;
        letter-spacing: 0.1px;

    }

    .newsletter__second-box .second-box__rigth .second-box__formulario {

        width: 353px;
        height: 168px;
        max-width: 100%;
        display: flex;
        flex-direction: column;

    }

    .newsletter__second-box .second-box__rigth .formulario__email {

        height: 54px;
        width: 353px;
        max-width: 100%;
        border: solid 1px;
        border-radius: 39px;
        background-color: #f4f4f4;
        padding-left: 39px;
        color: #18171d;
        outline: none;

    }

    .newsletter__second-box .second-box__rigth .formulario__button {

        width: 353px;
        max-width: 100%;
        height: 54px;
        border-radius: 35px;
        background-color: #2091f9;
        font-size: 20px;
        color: #ffffff;
        cursor: pointer;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        display: inline-block;

    }



    .partnes {
        width: 378px;
        max-width: 100%;
        
        text-align: center;

        margin-bottom: 100px;

        display: flex;
        flex-direction: column;


        background-color: #FFF;

    }

    .partnes .partnes__icons {
        display: none;
    }

    .partnes .partnes__icons__resposividade {
        display: block;
        width: 70%;
        margin-top: 80px;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        gap: 10px;
        
    }


    .partnes__icons .icons__icon {

        padding: 40px;
        border: 1px solid #d8d8d8;
        width: 25%;
        max-width: 100%;
        
    }

    .partnes__icons .icons__icon .icon__p {

        color: #374754;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0.1px;

    }




    .testmonials {

        margin-top: 150px;
    }





    /* footer */
    .rodape {
        /*  teste de vazamento*/
        background-color: black;
    }
}